@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

#menu{
    background: black;
    padding-bottom: 15%;
}

.container h1 {
    position: relative;
    display: flex;
    color: white;
    font-family: 'Russo One', sans-serif;
    align-items: center;
    flex-direction: column;
   bottom: -45px;
   font-size: 348%;

}

.autor {
    position: absolute;
    color: white;
    transform: translate(476px, 82px)
}

.autor a {
    color: white;
    font-family: 'Archivo Black', sans-serif;
    text-decoration: none;
}

.tesxtos{
    position: relative;
    transform: translate(6px,40px);
    font-family: 'Patrick Hand', cursive;
    font-size: 250%;
    display: flex;
    flex-direction: column;
    
    
}

.paragrafo01{
    position: relative;
    padding-bottom: 15px;
}

.imagem01{
    background-attachment: fixed;
    background-image:url(imagem/background001.jpg);
    height: 95vh;
    background-repeat: no-repeat;
    transform: translate(-5px, 399px);
    width: 100%;
    position: absolute;
}

.paragrafo02{

  position:relative;
  padding-bottom: 25px;
  transform:translate(15px,64px)

}


.paragrafo03{

  position:relative;
  padding-bottom: 25px;
  transform: translate(15px,657px);

}


.paragrafo04{

  position:relative;
  padding-bottom: 25px;
  transform: translate(15px,660px);

}




.paragrafo05{

  position: relative;
  padding-bottom: 25px;
  transform: translate(-6px,708px);
  background-image: url(imagem/background002.jpg);
  background-position: left;
  padding: 48px;
}


.paragrafo06{

  position:relative;
  padding-bottom: 25px;
  transform: translate(15px,805px);

}


.paragrafo07{

   position:relative;
   padding-bottom: 25px;
   transform: translate(15px,915px);
}







